[buildout]
parts = 
	test
	instance
	omelette

extends = http://dist.plone.org/release/4.3-latest/versions.cfg

develop = .

extensions += mr.developer
sources-dir = ${buildout:directory}/devsrc
auto-checkout = *
always-checkout = force
always-accept-server-certificate = true


[sources]
collective.vdexvocabulary = git https://github.com/collective/collective.vdexvocabulary.git


[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    collective.dynatree[test]


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
eggs =
    PIL    
    collective.dynatree[at_example, dx_example]
    plone.reload
    
zcml = 
    collective.dynatree.example.dx
    collective.dynatree.example.at
    

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

